/* .mintlify-sidebar .DisclosureButton svg {
    margin-left: auto !important; 
  } */

.group {
  justify-content: space-between;
}

.link {
  color: #346DDB;
  border-bottom: 1px solid #346DDB;
}

/* tr td {
  justify-content: space-between;
  align-items: center;
} */

.getStartedTable td:first-child {
  text-align: center;
  vertical-align: middle;
  width: 150px;
}

#footer div:nth-child(2) {
  display: none !important;
}

.sdk-table,
.event-table,
.custom-event-table,
.ad-event-table,
.ad-table {
  display: table !important;
}

table th {
  text-align: left;
}

/* table td+td {
    border-left: 1px solid #e5e7eb;
    } */

/* tr td:first-child {
      border-right: 1px solid #e5e7eb;
      } */

code {
  background: #f3f4f6;
  border: 1px solid #e5e7eb;
  padding: 2px;
  border-radius: 4px;
  /* font-size: 90%; */
}

.event-table td:first-child {
  text-align: left;
  vertical-align: middle;
  width: 150px;
}

.event-table td,
.custom-event-table td {
  padding: 8px 12px;
}

.custom-event-table td:first-child {
  text-align: left;
  vertical-align: middle;
  width: 180px;
}

.ad-event-table td:first-child {
  text-align: left;
  vertical-align: middle;
  width: 180px;
}

.ad-event-table td.third {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.third div div:not(:last-child) {
  margin-bottom: 5px;
}

.text-primary {
  --tw-text-opacity: 1;
  color: #346DDB;
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: #346DDB;
}

.bg-primary\/10 {
  background-color: #e9f3ff;
}

.bg-primary-dark {
  background-color: #346DDB;
  color: #505452;
}

.group:hover .group-hover\:text-primary {
  --tw-text-opacity: 1;
  color: #346DDB;
}

.dark\:text-primary-light:is(.dark *) {
  --tw-text-opacity: 1;
  color: #346DDB;
}

html:not(.dark) .codeblock-light pre.shiki>code {
  padding: 7px;
  background-color: #F9FAFB;
}

tbody tr:hover {
  background-color: #f0f2f6;
  /* hover color */
  cursor: pointer;
  /* optional */
}

.dark tbody tr:hover {
  background-color: #2f3031;
}

.dark code {
  background: #222223;
  border: none;
}

.demo-apk {
  text-decoration: none;
  border: none;
  margin-left: 12px;
  margin-right: 10px;
  color: #346DDB;
}

.icon-github {
  border: none;
}

.download-app {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 14px 20px;
  background: #F9FAFB;
  border-radius: 8px;
  /* border: 1px solid #E5E7EB; */
  font-size: 16px;
  width: max-content;
}

.download-app a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #111;
  border: none;
}

.download-app a img {
  width: 22px;
  height: 22px;
  margin: 0;
}

.download-app .app-name {
  color: #111;
  font-weight: 400;
}
.download-app .app-devider {
  color: #ccc;
}

#sidebar-content .group>svg {
  /* margin-left: auto; */
}

#sidebar-content .group>div {
  /* font-weight: 500; */
}

.sidebar-group-icon {
  height: 16px;
  width: 16px;
}

ul#sidebar-group {
  margin-left: 10px;
}

/* html {
  scroll-behavior: smooth;
}

tr:target {
  background: #fff6d6;
  transition: background 0.6s ease;
} */

.card{
  width: max-content;
}